@{
    ViewData["Title"] = "Get to Know Joel";
}
<h2>Get to Know Joel</h2>

<p><a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a></p>
<p><a href="https://baconsale.com/" target="_blank">Baconsale</a></p>

<p>
    <a href="https://baconsale.com/" target="_blank">
        <img src="https://byu.box.com/shared/static/ie6ibeddqm0f6oudp7bc5dyt87zxi2u4.jpg" alt="Baconsale" />
    </a>
</p>